/*---- CSS index---- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  background-color: ;
}

.head1 {
  margin: 25px 36px 10px 82px;
  width: 870px;
  height: 300px;
}

.direccion {
  color: white;
  text-align: right;
  padding: 10px;
}

.loremInd {
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-align: justify;
  margin: 20px;
}

.imgInd {
  display: flex;
  justify-content: space-around;
  margin: 50px 20px;
}

.menu {
  font-size: 20px;
  list-style-type: none;
}

.menu li a {
  color: rgb(255, 123, 0);
  margin: 6px;
  text-decoration: none;
  display: inline-block;
  padding: 6px;
}

.menu li:hover {
  background-color: rgb(209, 202, 177);
  box-shadow: 3px 3px rgb(238, 200, 129);
}

.vid1 {
  display: inline;
  margin: 20px 200px 20px 200px;
  width: 500px;
  height: 400px;
}

.vid2 {
  display: inline;
  margin: 20px 200px 20px 200px;
  width: 500px;
  height: 400px;
}

.map {
  text-align: center;
  padding: 20px;

}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.footerSocial a {
  text-align: center;
  color: rgb(2, 2, 2);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 6px;
  transition: transform 0.5s;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2rem;
}

.footerSocial a:hover {
  transform: scale(1.2);
  text-align: center;
}

.footerText {
  font-size: 16px;
  font-stretch: condensed;
  text-align: center;
}

.menuFooter li a {
  color: rgb(2, 1, 1);
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 6px;

}

.menuFooter li:hover {
  background-color: rgb(209, 202, 177);
  box-shadow: 3px 3px rgb(39, 32, 18);
}

body{
  background-color: rgb(209, 202, 177);
}

/*----- CSS Accesorios----- */
* {
  font-family: sans-serif;
}

.pAcc {
  font-size: 30px;
  color: black;
  margin: 30px;
}

.acc1 img {
  text-align: center;
  width: 200px;
  height: 200px;

}

.mainAcc {
  background-color: rgb(219, 192, 141);
}

.h2Acc {
  color: white;
  display: inline-block;
  background-color: chocolate;
  width: 200px;
  height: 35px;
  text-align: center;
}

.socialAcc {
  color: rgb(255, 255, 255);
}

.footerSocial a {
  text-align: center;
  color: rgb(2, 2, 2);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 6px;
  transition: transform 0.5s;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2rem;
}

.footerSocial a:hover {
  transform: scale(1.2);
  text-align: center;
}

.footerText {
  font-size: 16px;
  font-stretch: condensed;
  text-align: center;
}

.menuFooter li a {
  color: rgb(2, 1, 1);
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 6px;
}

.menuFooter li:hover {
  background-color: rgb(209, 202, 177);
}

.vidAcc {
  text-align: center;
  margin: 30px;

}

.imgAcc {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 20px;

}

.headAcc{
  background-color: black;
   
}
.footAcc{
  background-color: rgb(219, 192, 141);
}

/*----CSS Bicicletas---- */
.bic {
  text-align: center;
  display: inline-block;
}

.bic img {
  text-align: center;
  width: 200px;
  height: 200px;

}

.h2Bic {
  color: white;
  display: inline-block;
  background-color: chocolate;
  width: 200px;
  height: 35px;
  text-align: center;
}

.loremBic {
  font-size: 25px;
  margin: 20px;
}

.mainBic {
  background-color: rgb(209,202,177);
  
}
.footBic{
  background-color: rgb(219, 192, 141);
}
.headBic{
  background-color: black;
}

.socialBic {
  color: rgb(255, 255, 255);
}

.footerSocial a {
  text-align: center;
  color: rgb(2, 2, 2);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 6px;
  transition: transform 0.5s;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2rem;
}

.footerSocial a:hover {
  transform: scale(1.2);
  text-align: center;
}

.footerText {
  font-size: 16px;
  font-stretch: condensed;
  text-align: center;
}

.menuFooter li a {
  color: rgb(2, 1, 1);
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 6px;
}

.menuFooter li:hover {
  background-color: rgb(209, 202, 177);
}

.vidBic {
  text-align: center;
}

.imgBic {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 20px;
}


/*----CSS Indumentarias---- */

.ind1 img {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;

}

.ind2 {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

.loremIndu {
  font-size: 25px;
  margin: 25px;
}

.h2Ind {
  color: white;
  display: inline-block;
  background-color: chocolate;
  width: 200px;
  height: 35px;
  text-align: center;
}

.mainInd {
  background-color: rgb(209,202,177);
  
}
  
.footInd{
 background-color: rgb(219, 192, 141); 
}

.socialInd {
  color: rgb(255, 255, 255);
}

.footerSocial a {
  text-align: center;
  color: rgb(2, 2, 2);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 6px;
  transition: transform 0.5s;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2rem;
}

.footerSocial a:hover {
  transform: scale(1.2);
  text-align: center;
}

.footerText {
  font-size: 16px;
  font-stretch: condensed;
  text-align: center;
}

.menuFooter li a {
  color: rgb(2, 1, 1);
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 6px;
}

.menuFooter li:hover {
  background-color: rgb(209, 202, 177);
}

.vidInd {
  text-align: center;
}

.imgInd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
}

.h1Cont {
  color: white;
  display: inline-block;
  background-color: chocolate;
  width: 200px;
  height: 35px;
  text-align: center;
}

.vidCont {
  display: flex;
  justify-content: space-around;
  width: 400;
  height: 300;
  margin: 25px;

}

.form {
  margin: 25px;
}

.cont1 img {
  width: 200px;
  height: 200px;

}

.mainAcc {
  background-color: ;
}

.socialAcc {
  color: rgb(255, 255, 255);
}

.redes {
  color: white;
  margin: 10px;
  margin-bottom: 10px;
}

.footerSocial a {
  text-align: center;
  color: rgb(2, 2, 2);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 6px;
  transition: transform 0.5s;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2rem;
}

.footerSocial a:hover {
  transform: scale(1.2);
  text-align: center;
}

.footerText {
  font-size: 16px;
  font-stretch: condensed;
  text-align: center;
}

.menuFooter li a {
  color: rgb(2, 1, 1);
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 6px;
}

.menuFooter li:hover {
  background-color: rgb(209, 202, 177);
}

.vidCont {
  text-align: center;
  width: 400px;
  height: 300px;
}
.headInd{
  background-color: black;
}

/*--GRID en Index---

.container1 {
  display: grid;
  grid-template-rows: 0.8fr 1.2fr 0.7fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 
  "head1"
  "main1"
  "footer1"

  ;
}

.head1 {
  grid-area: head1;
  background-color: black;
}

.main1 {
  grid-area: main1;
  background-color: rgb(209,202,177);
}

.footer1 {
  grid-area: footer1;
  background-color: rgb(219, 192, 141);
}
*/

/*-GRID en  Contacto---- */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 65% 15%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "head"
    "main"
    "footer";
}

.head {
  grid-area: head;
  background-color: black;

}

.contImg {
  width: 150px;
  height: 150px;
  margin: 10px;
  display: inline-flex;
  align-items: center;
}

.main {
  grid-area: main;
  background-color: rgb(209,202,177);

}

.footer {
  grid-area: footer;
  background-color: rgb(219, 192, 141);
}